@page
@model WebApplication.Pages.wiproModel
@{
    ViewData["Title"] = "Wipro";
    ViewData["Description"] = "Wipro is a leading global information technology, consulting, and business process services company.";
    ViewData["Keywords"] = "Wipro, IT services, consulting, business process services, global technology";
}
<h1>@ViewData["Title"]</h1>
<p>
    @ViewData["Description"]
</p>
<p>
@ViewData["Keywords"]
</p>